@import 'app.scss';

.menu {
  background-color: $color-grayish;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: $header-height;
  right: -100%;
  width: 100%;
  height: calc(100% - #{$header-height});
  overflow-y: auto;
  z-index: 10;
  transition: $transition;

  &.active {
    right: 0;
  }

  &Options {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 24px 24px 24px;

    .langDropdown {
      margin-bottom: 36px;
    }

    .buttons {
      display: flex;
      justify-content: center;
    }
  }
}
