@import 'abstracts/variables';

.menu {
  background-color: $color-grayish;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: $header-height;
  padding-top: 120px;
  padding-bottom: 48px;
  right: -100%;
  width: 100%;
  height: calc(100% - #{$header-height});
  overflow-y: auto;
  z-index: 10;
  transition: $transition;

  &.active {
    right: 0;
  }

  &Options {
    width: 100%;
    margin-top: 48px;

    .langDropdown {
      margin-bottom: 48px;
    }

    .homeButtons {
      display: flex;
      justify-content: center;
    }

    .accountButtons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
