@import 'app.scss';
@import 'vendor/bootstrap-grid';

.teamMember {
  text-align: center;

  img {
    max-width: 170px;
    height: 170px;
    border: 2px solid $color-secondary;
    border-radius: 50px;
  }

  .content {
    @extend .fw-800;
    @extend .my-3;

    .info {
      height: 80px;
      overflow: hidden;

      h6 {
        @extend .fs-21;
        @extend .lh-32;
        @extend .mb-1;
        white-space: nowrap;
      }

      p {
        @extend .fs-16;
        @extend .lh-20;
        color: $color-secondary;
      }
    }

    .linksWrapper {
      @extend .mt-3;
      display: inline-flex;
      align-items: center;

      a {
        @extend .hover-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        box-shadow: 0px 3px 6px #1b1f2a;
        transition: $transition;

        &:not(:last-child) {
          @extend .mr-2;
        }
      }
    }
  }

  // Background colors for different social media links
  .email {
    background-color: #00a7eb;
  }

  .github {
    background-color: #24292e;
  }

  .linkedin {
    background-color: #2867b2;
  }
}
