@import 'app.scss';

.homeContainer {
  color: $color-white;
}

// Generate page classes dynamically
@for $i from 1 through 3 {
  .page#{$i} {
    @extend .container; //Use paddings and grid system
    position: relative;

    &Bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../../../../public/img/home-bg-#{$i}.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }

    &Body {
      @extend .row;
      @extend .py-lg-5;
      @extend .py-4;
      overflow: hidden;
      min-height: 100vh;
    }
  }
}

// Common content style
.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @extend .headline;
    @extend .mb-lg-4;
    @extend .mb-3;
  }

  p {
    @extend .text;
    @extend .mb-lg-4;
    @extend .mb-3;
  }
}

// Special stylings for each page
.page1Content {
  @extend .pageContent;
  @extend .col-lg-6; // Grid config
  padding-top: $header-height;
}

.page2Content {
  @extend .pageContent;
  @extend .col-lg-6; // Grid config
  @extend .offset-lg-6;
}

@media (min-width: map-get($breakpoints, lg)) {
  @for $i from 1 through 3 {
    .page#{$i} {
      &Bg {
        background-image: url('../../../../public/img/home-bg-#{$i}-lg.png');
      }
    }
  }

  .page1Content {
    padding-top: $header-height-lg;
  }
}
