@import 'abstracts/variables';

.drawer {
  background-color: $color-grayish;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: -100%;
  width: 650px;
  height: 100%;
  padding: 24px 48px 48px 48px;
  z-index: 10;
  transition: $transition;

  &.active {
    right: 0;
  }

  &Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .auth {
      display: flex;
      align-items: center;
    }
  }

  &Links,
  &LangDropdown {
    text-align: center;
  }
}

.closeButton {
  transition: $transition;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
