@import 'app.scss';

.navLink {
  @extend .fs-28;
  @extend .lh-36;
  @extend .fw-700;
  display: block;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 16px;
  transition: $transition;

  &:hover:not(.active) {
    opacity: 0.7;
  }

  &.active {
    color: $color-secondary;
  }
}