@import 'app.scss';
@import 'vendor/bootstrap-grid';

.board {
  &Container {
    @extend .container;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
  }

  &Row {
    @extend .row;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    overflow: auto;

    .sectionWrapper {
      @extend .col-lg-3;
      min-width: 300px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }

    &:not(:last-child) {
      @extend .mb-5;
    }
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .board {
    &Container {
      // 96 - 20 for the container paddings
      padding-left: 76px;
      padding-right: 76px;
    }

    &Row {
      .sectionWrapper {
        min-width: auto;
      }
    }
  }
}
