@import 'app.scss';
@import 'vendor/bootstrap-grid';

.button {
  background-color: $color-secondary;
  color: $color-white;
  border-radius: $border-radius;
  transition: $transition;
  text-transform: uppercase;
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-secondary;
  @extend .hover-dark;
  @extend .ff-exo2;
  @extend .fs-20;
  @extend .lh-24;
  @extend .fw-600;
  @extend .px-lg-5;
  @extend .px-4;
  @extend .py-3;

  svg * {
    fill: $color-white;
  }

  &.big {
    @extend .py-4;
  }

  &.small {
    @extend .py-2;
  }

  &.shadow {
    box-shadow: 0px 3px 6px #1b1f2a;
  }

  //Button types
  &.white {
    background-color: white;
    color: $color-secondary;

    svg * {
      fill: $color-secondary;
    }
  }
}
