@import 'vendor/bootstrap-grid';
@import 'abstracts/variables';

.scoreboard {
  width: 100%;

  .topScorers {
    @extend .mb-lg-5;
    @extend .mb-4;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .scoreboard {
    width: 90%;
  }
}
