@import 'app.scss';
@import 'vendor/bootstrap-grid';

.accountContent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: calc(#{$header-height} + 48px) 20px 48px 20px;
  background-color: $color-alabaster;
}

.accountHeader {
  @extend .header;
  background-color: $color-white;
  box-shadow: 0px 1px 6px rgba(27, 31, 42, 0.25);

  .leftWrapper {
    display: flex;
    align-items: center;
    width: $sidebar-width;
    justify-content: space-between;

    .dropdown {
      @extend .d-lg-block;
      @extend .d-none;
      @extend .ml-5;
    }
  }

  .rightWrapper {
    .buttons {
      @extend .d-lg-flex;
      @extend .d-none;
      align-items: center;

      .dropdown {
        @extend .ml-5;
      }
    }

    .mobileButton {
      @extend .d-lg-none;
      @extend .d-block;

      .user {
        @extend .user-avatar;

        img {
          width: 32px;
          height: 32px;
        }

        span {
          @extend .fs-20;
          @extend .lh-24;
        }
      }
    }
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .accountContent {
    padding-top: calc(#{$header-height-lg} + 48px);
    padding-left: calc(#{$sidebar-width} + 48px);
    padding-right: 48px;
  }

  .accountHeader {
    box-shadow: none;

    &::before {
      content: '';
      position: absolute;
      box-shadow: 6px 1px 6px rgba(27, 31, 42, 0.25);
      right: 0;
      top: 0;
      width: calc(100% - #{$sidebar-width});
      height: 100%;
      z-index: -1;
    }
  }
}
