@import 'app.scss';

.header {
  @extend .container; // horizontal paddings
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: $transition;

  .logo {
    width: 120px;
  }

  &.scrollOn {
    background-color: rgba($color: $color-primary, $alpha: 0.8);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  &.mobileActive {
    background-color: $color-grayish;
    z-index: 10;
  }
}

// Header styling for account pages
.accountHeader {
  @extend .header;
  background-color: $color-white;
  box-shadow: 0px 1px 6px rgba(27, 31, 42, 0.25);

  .leftWrapper {
    display: flex;
    align-items: center;
    width: $sidebar-width;
    justify-content: space-between;

    .dropdown {
      @extend .d-lg-block;
      @extend .d-none;
      @extend .ml-5;
    }
  }

  .rightWrapper {
    .buttons {
      @extend .d-lg-flex;
      @extend .d-none;
      align-items: center;

      .dropdown {
        @extend .ml-5;
      }
    }

    .mobileButton {
      @extend .d-lg-none;
      @extend .d-block;
    }
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .header {
    height: $header-height-lg;

    .logo {
      width: 140px;
    }
  }

  .accountHeader {
    box-shadow: none;

    &::before {
      content: '';
      position: absolute;
      box-shadow: 6px 1px 6px rgba(27, 31, 42, 0.25);
      right: 0;
      top: 0;
      width: calc(100% - #{$sidebar-width});
      height: 100%;
    }
  }
}
